RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteRule ^(?!web/)(.*?\.(png|jpeg|jpg|svg))$ web/resources/$1 [L]

RewriteRule ^((?!(dist|web)).)*$ web/demo.php [END]